<div id="price" class="block">
  <div class="block_title">
    <p class="">Цены на услуги</p>
  </div>
  <div class="price_block">
    <div class="price_element">
      <p class="price_element_header">
        Стоимость типового решения для малого и среднего бизнеса
      </p>
      <p class="price_element_price">
        от 7500 рублей
      </p>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          согласование сценариев и контента чат-бота
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          проектирование
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          тестирование и сдача чат бота заказчику
        </p>
      </div>
    </div>
    <div class="price_element">
      <p class="price_element_header">
        Размещение чат-бота  на
        сервисе Metabot24
      </p>
      <p class="price_element_price">
        от 2000 руб/ мес.
      </p>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Cтоимость зависит не от количества
          активированных ботов, а от количества
          активных пользователей
        </p>
      </div>

      <div class="list_block">
        <img class="list_element_ok_img" src="assets/images/price/icon_check.png" alt="Ok">
        <p class="list_element_ok">
          Вы получаете встроенного в ваши коммуникации чат-бот и аккаунт на нашей платформе, что позволяет корректировать сценарий чат-бота
        </p>
      </div>
    </div>
  </div>

  <h3 class="text_center price_link">* Подробнее по ссылке <a href="https://metabot24.com/pricing">https://metabot24.com/pricing</a></h3>

  <p class="text_center bordered_block_3">
    Конструктор ботов полностью бесплатный, вы можете самостоятельно стать архитектором своего чат-бота,
    в этом вам поможет документация или видеоуроки по платформе.
  </p>

  <div class="bordered_block_5">
    <p class="text_center bordered_block_5_text_26">
      Хотите узнать на что способен чат-бот конкретно в вашем проекте?
    </p>
    <h3 class="text_center bordered_block_5_text_30">
      Оставьте заявку на бесплатную консультацию прямо сейчас + получите шаблон простого чат-бота
      <span class="orange"> В ПОДАРОК! </span>
    </h3>

    <div class="bordered_block_5_flex_box block_center">
      <div class="bordered_block_5_flex_box_item">
        <img class="bordered_block_5_flex_box_item_img block_center" src="assets/images/price/Big%20phone.png" alt="phone">
        <p class="bordered_block_5_flex_box_item_text block_center text_center">Позвоните нам: <span> 8 (499) 938-58-98</span></p>
      </div>
      <div class="bordered_block_5_flex_box_item">
        <p class="text_center block_center bordered_block_5_flex_box_item_text">или оставьте заявку</p>
        <div class="block_center bordered_block_5_flex_box_button">
          <app-order-button (click)="openCallback()" [blue]="true"></app-order-button>
        </div>
      </div>
    </div>
  </div>

</div>
