<div class="block">
  <div class="block_title">
    <p class="">Что такое чат-боты?</p>
  </div>

  <div class="features_bot_block">
    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-is-chatbot/003-light-bulb.png" alt="Group">
      <h2 class="text_center">Смысл</h2>
      <p class="features_bot_element_text">Упрощение коммуникаций на всех уровнях бизнеса, экономия времени
        в операционных процессах для развития и роста</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-is-chatbot/004-ui.png" alt="Graph">
      <h2 class="text_center">Цифры</h2>
      <p class="features_bot_element_text">В России, к концу 2018 года рынок по сравнению с 2017 годом увеличился
        более чем в <span class="bold">2,2 раза, до 524 млн руб</span> , и по итогам 2023 года его объем
        <span class="bold">достигнет 33 млрд руб</span>. (Just AI)</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-is-chatbot/icon_increase.png" alt="Head">
      <h2 class="text_center">Перспективы</h2>
      <p class="features_bot_element_text">В ближайшем будущем все средства коммуникации на базе web технологий
        ожидает радикальная и динамичная перестройка, для обеспечения тесной интеграции с мессенджерами и
        ключевая роль в ней будет принадлежать чат-ботам.</p>
    </div>
  </div>

</div>
