<div id="contact" class="contact_block">
  <div class="contact_block_flex">
    <div class="contact_block_info">
      <p>Есть особые пожелания? Легко - сообщи нам</p>
      <div class="contact_block_phone">
        <img class="contact_block_phone_icon" src="assets/images/header/icon_phone.png" alt="phone_img">
        <a href="tel:+84999385898" class="contact_block_phone_number"> 8 499 938-58-98</a>
      </div>
      <p>e-mail: hi@metabot24.com</p>
    </div>
    <div class="contact_block_button">
      <app-order-button (click)="openCallback()" [blue]="true"></app-order-button>
    </div>
  </div>
</div>
