<div class="header_block">
  <img class="header_block_hamburger" src="../../assets/images/header/меню.png" alt="menu">
  <img class="header_block_logo" src="../../assets/images/header/Metabot_Logotype_790%202.png" alt="metabot_img">
  <div class="header_block_menu">
    <a>Что такое чат-бот?</a>
    <a>О нас</a>
    <a>Наши продукты</a>
    <a>Преимущества</a>
    <a>Отзывы</a>
    <a>Контакты</a>
  </div>
  <div class="header_block_phone">
    <img class="header_block_phone_icon" src="../../assets/images/header/icon_phone.png" alt="phone_img">
    <p class="header_block_phone_number"> 8 499 938-58-98</p>
  </div>
</div>
