<app-app-header></app-app-header>

<div class="secret_block">
  <!--  Sign In-->
  <div *ngIf="!isSignIn" class="sign_in">
    <form class="block_center" (ngSubmit)="signIn(pass.value)">
      <input class="secret_block_pass" type="password" placeholder="password" #pass>
      <p class="error_msg" *ngIf="errorPass">Неверный пароль</p>
      <input class="secret_block_btn" type="submit" value="Sign in">
    </form>
  </div>
  <!--  Sign In-->

  <div *ngIf="isSignIn" class="sign_in">
    <button (click)="exit()" class="secret_block_btn left">Выйти</button>
    <app-add-data (refreshList)="getCommit()" (emitter)="exit()" [config]="{target: 'Отзывы', pass: pass}"></app-add-data>
    <app-edit-list (emitter)="getCommit()" [itemList]="commentList" [config]="{target: 'Отзывы', pass: pass}"></app-edit-list>
    <app-add-data (refreshList)="getTeam()" (emitter)="exit()" [config]="{target: 'Команда', pass: pass}"></app-add-data>
    <app-edit-list (emitter)="getTeam()" [itemList]="teamList" [config]="{target: 'Команда', pass: pass}"></app-edit-list>

    <h1 (click)="isChangePass = !isChangePass" class="clicked_title">Изменить пароль</h1>
    <form [formGroup]="changePassForm" *ngIf="isChangePass" (ngSubmit)="changePass()">
      <input class="secret_block_form_input" type="password" placeholder="введите новый пароль" formControlName="pass">
      <input class="secret_block_form_input" type="password" placeholder="повторите пароль" formControlName="confirm">
      <p *ngIf="errorConfirm" class="error_msg">Пароли не совпадают</p>
      <input class="secret_block_form_btn" type="submit" value="Сменить пароль">
    </form>
  </div>
</div>

