.secret_block {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  padding-bottom: 75px;
  box-sizing: border-box;
}

.secret_block_pass {
  border: #242529 1px solid;
  position: relative;
  width: 250px;
  height: 35px;
  font-size: 25px;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
}

.secret_block_btn {
  position: relative;
  background-color: #F5A232;
  display: block;
  height: 40px;
  width: 150px;
  color: #FFFFFF;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
}

.secret_block_btn:hover {
  cursor: pointer;
  background-color: #146ABB;
}

.left {
  left: 90%;
}

.secret_block_form_input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 35px;
  font-size: 25px;
  padding-left: 10px;
  width: 900px;
  margin-top: 25px;
  display: block;
  border: solid 1px #242529;
}

.secret_block_form_btn {
  display: block;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  border: none;
  border-radius: 23px;
  height: 46px;
  width: 250px;
  background-color: #F5A232;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 25px;
  outline: none;
}

.secret_block_form_btn:hover {
  background-color: #146ABB;
  cursor: pointer;
}
