<div class="form_block">
  <form class="form_block_form">
    <div class="form_block_logo_block">
      <img class="form_block_logo" src="assets/images/header/Metabot_Logotype_790%202.png" alt="logo">
      <img (click)="close()" class="form_block_exit" src="assets/images/exit.svg" alt="Exit">
    </div>
    <p class="form_block_title">Закажи Чат-Бот</p>
    <input class="form_block_input form_block_input_input" type="text" placeholder="Ваше имя" name="name">
    <input class="form_block_input form_block_input_input" type="text" placeholder="Ваш E-mail" name="email">
    <input class="form_block_input form_block_input_input" type="text" placeholder="Номер телефона" name="phone">
    <textarea rows="4" class="form_block_input form_block_input_text_area" placeholder="Сообщение" name="message"></textarea>
    <button class="form_block_input form_block_input_button" type="submit">ЗАКАЗАТЬ ЧАТ-БОТ</button>
  </form>
</div>
