<div class="mobile_menu_block">
  <img (click)="closeMenuBlock()" class="form_block_exit" src="assets/images/exit.svg" alt="Exit">
  <a (click)="closeMenuBlock()" href="#task">Задачи чат-бота</a>
  <a (click)="closeMenuBlock()" href="#reviews">Отзывы</a>
  <a (click)="closeMenuBlock()" href="#wecan">Преимущества</a>
  <a (click)="closeMenuBlock()" href="#price">Цены</a>
  <a (click)="closeMenuBlock()" href="#demo">Демо-бот</a>
  <a (click)="closeMenuBlock()" href="#whatIsChatbot">Что такое чат-бот?</a>
  <a (click)="closeMenuBlock()" href="#moreAboutUs">О нас</a>
  <a (click)="closeMenuBlock()" href="#contact">Контакты</a>
</div>
