<div class="block_blue">
  <div class="block_blue_center_flex">
    <div class="block_blue_center_flex_item_durov">
      <img class="block_blue_center_flex_item_durov_img" src="assets/images/quotation/Фото%20Павел%20Дуров.png" alt="Durov">
      <p class="block_blue_center_flex_item_durov_text">Павел Дуров</p>
    </div>
    <p class="block_blue_center_flex_item_quotation">
      "Чат-боты - это не каприз моды, а настоящая революция! Используйте ботов для взаимодействия
      с пользователями там, где они уже есть - в мессенджерах"
    </p>
  </div>
</div>
