<div class="header_block">
  <img (click)="clickHamburger()" class="header_block_hamburger" src="assets/images/header/menu.svg" alt="menu">
  <a href="#top">
    <img class="header_block_logo" src="assets/images/header/Metabot_Logotype_790%202.png" alt="metabot_img">
  </a>
  <div class="header_block_menu">
    <a href="#task">Задачи чат-бота</a>
    <a href="#reviews">Отзывы</a>
    <a href="#wecan">Преимущества</a>
    <a href="#price">Цены</a>
    <a href="#demo">Демо-бот</a>
    <a href="#whatIsChatbot">Что такое чат-бот?</a>
    <a href="#moreAboutUs">О нас</a>
    <a href="#contact">Контакты</a>
  </div>
  <div class="header_block_phone">
    <img class="header_block_phone_icon" src="assets/images/header/icon_phone.png" alt="phone_img">
    <a href="tel:+84999385898" class="header_block_phone_number"> 8 499 938-58-98</a>
  </div>
</div>
