<div id="demo" class="block">
  <div class="block_title">
    <p class="">Демонстрационный чат-бот</p>
  </div>

  <div class="demo_content_block">
    <p class="demo_content_text">Попробуйте чат-бота в деле.
      Используйте любимую соцсеть или мессенджер!
    </p>

    <div class="demo_content_ref">
      <div class="demo_content_ref_item">
        <a href="{{telegramUrl}}">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/telegram_icon.svg">
          <p>Telegram </p>
        </a>
      </div>
      <div class="demo_content_ref_item">
        <a href="{{whatsUpUrl}}">
          <img class="demo_content_ref_img" src="assets/images/demo-bot/Icon_WhatsApp.svg">
          <p>WhatsApp </p>
        </a>
      </div>
    </div>
  </div>

</div>
