<div id="moreAboutUs" class="block">
  <div class="block_title">
    <p class="">Еще немного о нас…</p>
  </div>
  <p class="more_about_us_text">В условиях тяжелой экономической ситуации в нашей стране  все большее значение приобретает
    автоматизация.  Мы работаем с малым и средним бизнесом и точно знаем, что  чат-боты помогают
    сэкономить и заработать больше.</p>
  <div class="bordered_block_3">
    <div class="list_block">
      <img class="list_element_ok_img" src="assets/images/more-about-us/icon_check.png" alt="Ok">
      <p class="list_element_ok medium_text">
        Мы не фрилансеры-одиночки и не огромная безликая корпорация
      </p>
    </div>
    <div class="list_block">
      <img class="list_element_ok_img" src="assets/images/more-about-us/icon_check.png" alt="Ok">
      <p class="list_element_ok medium_text">
        Мы сработавшаяся и опытная команда способная закрывать ваши проблемы
      </p>
    </div>
    <div class="list_block">
      <img class="list_element_ok_img" src="assets/images/more-about-us/icon_check.png" alt="Ok">
      <p class="list_element_ok medium_text">
        20 лет + только успешные проекты во всех сферах деятельности и в любых отраслях
      </p>
    </div>
    <div class="list_block">
      <img class="list_element_ok_img" src="assets/images/more-about-us/icon_check.png" alt="Ok">
      <p class="list_element_ok medium_text">
        Мы идеальны для стартапов и современных растущих бизнесов
      </p>
    </div>
  </div>

</div>
