<app-callback *ngIf="callback" (callbackForm)="toggleCallback()"></app-callback>
<app-app-header (openMenu)="toggleMenu()"></app-app-header>
<app-first-page (openCallbackFrom)="toggleCallback()"></app-first-page>
<app-your-task></app-your-task>
<app-why-we></app-why-we>
<app-client-think (openCallbackForm)="toggleCallback()"></app-client-think>
<app-what-we-can></app-what-we-can>
<app-price (openCallbackForm)="toggleCallback()"></app-price>
<app-quotation></app-quotation>
<app-what-is-chatbot></app-what-is-chatbot>
<app-more-about-us></app-more-about-us>
<app-our-team></app-our-team>
<app-certificates></app-certificates>
<app-trust-us></app-trust-us>
<app-contacts (openCallbackForm)="toggleCallback()"></app-contacts>
<app-mobile-menu *ngIf="menu" (closeMenu)="toggleMenu()"></app-mobile-menu>

