<div class="block">
  <div class="block_title">
    <p class="">Что мы можем такого, что не могут другие</p>
  </div>

  <div class="features_bot_block">
    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-we-can/iocn_low-price.png" alt="Group">
      <h2 class="text_center">Дешевле</h2>
      <p class="features_bot_element_text">Вы получите более качественное решение за меньшие деньги, т.к.
        мы обладаем собственным конструктором чат-ботов</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-we-can/icon_clock.png" alt="Graph">
      <h2 class="text_center">Быстрее </h2>
      <p class="features_bot_element_text">Уникальная технология быстрой разработки программного обеспечения.
        Rapid Application Development (RAD)</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/what-we-can/icon_network.png" alt="Head">
      <h2 class="text_center">Больше</h2>
      <p class="features_bot_element_text">Мультиканальность. Все самые популярные мессенджеры и социальные сети</p>
    </div>
  </div>

</div>
