<div class="block">
  <div class="block_title">
    <p class="">А вот что думают клиенты о Метабот</p>
  </div>
  <div class="think_block_swap">
    <img (click)="prevComment()" class="left_arrow click" src="../../assets/images/client-think/left_arrow.png" alt="<">
    <div class="think_block">
      <img class="think_block_img" [src]="imgSrc" alt="photo">
      <div class="think_block_text">
        <p>{{text}}</p>
        <p>{{name}}</p>
        <p>{{subs}}</p>
      </div>
    </div>
    <img (click)="nextComment()" class="right_arrow click" src="../../assets/images/client-think/right_arrow.png" alt=">">
    <div class="target_counter">
      <div [className]="item.name === commitArray[current].name ? 'target_counter_element target_counter_element_current' : 'target_counter_element'" *ngFor="let item of commitArray"></div>
    </div>
  </div>
  <div class="button">
    <app-order-button (click)="openCallback()" [blue]="true"></app-order-button>
  </div>
</div>
