<div class="block">
  <div class="block_title">
    <p class="title">Чат-бот решает твои задачи так...</p>
  </div>
  <div class="features_bot_block">
    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/why-we/Group.png" alt="Group">
      <p class="features_bot_element_text">Чат-бот управляет долгосрочной цепочкой диалогов, постепенно продвигая ваши
        услуги и товары. Сегментирует, подогревает, оживляет и возвращает клиента</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/why-we/Graph.png" alt="Graph">
      <p class="features_bot_element_text">Чат-бот принимает заказы сам или готовит необходимые данные для отдела
        продаж. Увеличивает количество продаж до 5-ти раз при том же рекламном бюджете</p>
    </div>

    <div class="features_bot_element">
      <img class="features_bot_element_img" src="../../assets/images/why-we/Head.png" alt="Head">
      <p class="features_bot_element_text">Чат-бот консультирует и помогает решать проблемы, действуя по заданным
        алгоритмам или же использует алгоритмы искусственного интеллекта (NLP) для анализа текстовых сообщений.
        Затраты на поддержку могут быть уменьшены до 80%</p>
    </div>
  </div>
</div>
