<div class="block">
  <div class="block_title">
    <p class="">Почему стоит заказать у нас</p>
  </div>
  <div class="features_block">
    <p class="features_block_text">
      Особенность нашего предложения –
    </p>
    <h2 class="features_block_text bold">
      высокая скорость разработки и низкая стоимость,
    </h2>
    <p class="features_block_text">
      что достигается использованием собственной платформы для создания чат ботов – Metabot.
      К разработке на первом этапе подключаются архитекторы чат-ботов, программисты используются только в случае нестандартных задач и интеграций.
      В нашу команду входят профессиональные маркетологи, и мы готовы выполнить аудит маркетинговой политики, помочь разработать маркетинговую стратегиювашего бизнеса.
    </p>
  </div>
</div>
